<div class="row bootstrap snippets bootdeys" style="justify-content: center; padding-top:3rem"> 
    <h2 style="text-align: center; margin: 2rem" >About this Application</h2> 
</div>

<div id="aboutContainer" style="background-color: white; justify-content: center;" >
        <p class="blocktext">
            This is a demo web application that allows its members to post reviews on restaurants that they 
            have visited and are included in the listings of restaurants that this application provides.
            Every review posted allows the application to recalculate a rating for that restaurant according 
            to the score granted to the on the review.
        </p>
        <p class="blocktext">
            Even though only members of this web application are allowed to post reviews, the requirements to 
            sign up as a new member are pretty minimal. The user will only be asked to provide basic personal 
            information and even providing email account is not mandatory. The only stict requirement is having 
            a unique username/id (one that has not yet been chosen by any other member of this 
            application.) 
        </p>
        <p class="blocktext">
            As a non-member, the user is allowed to browse on the entire listing of restaurants that this application 
            provides, browsing all of the currently active members, and viewing every single review that a member 
            has posted and all of the reviews on any restaurant that have been posted by the members. Browsing 
            the listing of restaurants was made convenient by the filtering system, which allows the user to 
            search restaurants by name or by zip code. Also, the user can narrow down the listing of restaurants
            to browse by filtering the results by: price, ambiance, rating, and cuisine. The Members page also
            provides the listing of current members, plus a filtering systems to search for members by username
            or by zip code.
        </p>
        <p class="blocktext">
            As a member and once logged in, the user is allowed to add and delete as many reviews as wanted on 
            any restaurant included in restaurant listing. The user will also be allowed to edit his/her profile 
            at any given time (including their own password). If a member feels that they are already satisfied 
            with the content offered by this web application, or if they simply have no desire to be part of it
            anymore, that can easily terminate their account from drop down menu options after clicking the 
            User Button on the upper right corner of the navigation bar.
        </p>
        <p class="blocktext">
            This website has been designed to have a highly intuitive interface to allow every user to have a 
            relaxed experience while browsing exciting restaurants, and contributing to this community of foodies, by 
            offering their opinion on restaurants they have visited. 
        </p>
        <p class="blocktext">
            My commitment as a developer is to keep improving the usability, expanding the number of useful features
            and making this application as enjoyable as it can possibly be.
        </p>
        <br><br><br>             

</div>