<!-- Navigation Bar for the Whole Webapp -->
<div class="main-background" id="mainContainer" >


  <nav class="navbar navbar-expand-lg navbar fixed-top navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> <span style="font-weight:bold">Restaurant Review App</span> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link"  routerLink="restaurants">Restaurants<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="members">Members<span class="sr-only"></span></a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <button class="btn btn-primary btn-info btn-sm" style="margin-bottom: 12px; margin-top:6px; margin-right:15px; color:white" 
              [disabled]="memberService.loggedInMember.id != 'Guest'" (click)="onOpenModal('signUp')">Sign Up
          </button>
        </li>
        <li class="nav-item active">
          <button class="btn btn-outline-info btn-sm" style="margin-bottom: 8px; margin-top:6px; margin-right:15px; color:teal; font-weight: bold"  
              [disabled]="memberService.loggedInMember.id != 'Guest'" (click)="onOpenModal('logIn')">Log In
          </button>  
        </li>

        <li class="nav-item dropdown">
          <div class="d-flex" id="userDropdownDiv" style="color:white; align-items: center; font-weight:bold;"> 
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span *ngIf=" memberService.loggedInMember.id != 'Guest'; else guestUser" style="margin-right: 5px">  {{memberService.loggedInMember.id}} </span>
              <ng-template #guestUser>
                <span style="margin-right: 5px">  Guest User </span> 
              </ng-template>
            </a>
  
            <span> <h3> <i class="bi bi-person-circle"></i> </h3> </span>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              <button [disabled]="memberService.loggedInMember.id == 'Guest'" class="dropdown-item" (click)="onOpenModal('myProfile')">My Profile</button>
              <button [disabled]="memberService.loggedInMember.id == 'Guest'" class="dropdown-item" (click)="onOpenModal('editProfile')">Edit Profile</button>
              <button [disabled]="memberService.loggedInMember.id == 'Guest'" class="dropdown-item" (click)="onOpenModal('myReviews')">My Reviews</button>
              <button [disabled]="memberService.loggedInMember.id == 'Guest'" class="dropdown-item" (click)="onOpenModal('closeAccount')">Close Account</button>
              <button [disabled]="memberService.loggedInMember.id == 'Guest'" class="dropdown-item" (click)="onLogout()">Sign Out</button>
            </div>

          </div>
        </li>
      </ul>

    </div>
  </nav>

  <!-- Eather Restaurant Page or Member Listing Page (depending on route chosen by client)-->
  <router-outlet (activate)="resetResults()"></router-outlet>

</div>


<!--Sign Up (MODAL)-->
<div id="signUpModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Sign Up</h1>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <form #signUpForm="ngForm" class="form col-md-12 center-block"  id="signUpForm"  >
              <div class="form-group">
                <input ngModel type="text" class="form-control input-lg"  name="username" id="username"
                    placeholder="Username (8 to 20 alphanumeric characters)" pattern="[A-Za-z0-9-_]{8,20}" required>
              </div>
              <div class="form-group">
                <input ngModel type="password" class="form-control input-lg"  name="password" id="password"
                    placeholder="Password (8 to 20 characters)" pattern=".{3,20}"required>
              </div>
              <div class="form-group">
                <input ngModel type="text" class="form-control input-lg"  name="firstName" id="firstName"
                    placeholder="First Name" pattern="[A-Za-z]{1,30}" required  > 
              </div>
              <div class="form-group">
                <input ngModel type="text" class="form-control input-lg"  name="lastName" id="lastName"
                    placeholder="Last Name" pattern="[A-Za-z]{1,30}" required>
              </div>
              <div class="form-group">
                <input ngModel type="text" class="form-control input-lg"  name="locCity" id="locCity"
                    placeholder="City" pattern="[A-Za-z ]{1,30}" required>
              </div>
              <div class="form-group">
                <input ngModel type="text" class="form-control input-lg"  name="locState" id="locState"
                    placeholder="State (2 letter format)" pattern="[A-Za-z]{2}" required>
              </div>
              <div class="form-group">
                <input ngModel type="text" class="form-control input-lg"  name="locZipCode" id="locZipCode"
                    placeholder="Zip Code (5 digit format)" pattern="[0-9]{5}" required>
              </div>
              <div class="form-group">
                <input ngModel type="text" class="form-control input-lg"  name="email" id="email" 
                    placeholder="Email Adress" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              </div>
              <div class="form-group">
                <label for="birthDate"> Date of Birth: </label> 
                <input ngModel type="date" class="form-control input-me"  name="birthDate" id="birthDate"
                    placeholder="Birthdate" required> 
              </div>
              <div class="form-group">
                  <input style="margin:5px" ngModel type="radio" id="maleOption" name="gender" value="Male" required>
                  <label style="margin-right:10px" for="maleOption">  Male </label>
                  <input style="margin:5px" ngModel type="radio" id="femaleOption" name="gender" value="Female" required>
                  <label style="margin-right:10px" for="femaleOption">  Female </label>
                  <input style="margin:5px" ngModel type="radio" id="otherOption" name="gender" value="Other" required>
                  <label style="margin-right:10px" for="otherOption">  Other </label>
              </div>

              <div class="form-group">
                <button (click)="onAddMember(signUpForm)" class="btn btn-info btn-lg btn-block" type="submit" 
                  [disabled]="signUpForm.invalid" >Submit Information
                </button>
              </div>
              <div *ngIf="signUpForm.invalid">
                <span style="color:teal">Submit button will be enabled when all fields have been properly completed.</span>
              </div>
              <div id="wrongPassword" *ngIf="acceptedPassword==false">
                <span style="color:red">The last username you entered already exists. Please enter a different one.</span>
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="col-md-1accordion2">
            <button id="signUpCloseButton" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>	
        </div>
    </div>
  </div>
</div>



<!--Login (MODAL)-->
<div id="logInModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Login</h1>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

        </div>
        <div class="modal-body">
            <form class="form col-md-12 center-block" #loginForm="ngForm" id="loginForm"  >
              <div class="form-group">
                <input type="text" class="form-control input-lg" ngModel name="username" id="username"
                    placeholder="Username" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-lg" ngModel name="password" id="password"
                    placeholder="Password" required>
              </div>
              <div class="form-group">
                <button (click)="onLogin(loginForm)"  class="btn btn-info btn-lg btn-block" type="submit" >Sign In</button>
              </div>
              <div id="wrongPassword" *ngIf="acceptedPassword==false">
                <span style="color:red">Invalid username & password combination. Please try again.</span>
              </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="col-md-1accordion2">
            <button id="loginCloseButton" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>	
        </div>
    </div>
  </div>
</div>


<!-- My Profile (MODAL)-->
<div class="modal fade" id="myProfileModal" tabindex="-1" aria-labelledby="myProfileLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myProfileLabel"> My Profile </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          <span aria-hidden="true">&times;</span>
      </div>

      <div class="modal-body">
        <div class="card m-b-30" style="width: 25rem; margin:2rem;">
          <div class="card-body row">
              <div class="col-6" >
                  <a  href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
              </div>
              <div class="col-6 card-title align-self-center mb-0">
                  <h5 style="font-weight: bold;"> {{ memberService.loggedInMember.id }}</h5>
                  <p class="m-0" style="color:grey"> {{ getMemberLocation(memberService.loggedInMember.id) }}</p>
              </div>
          </div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">First Name : {{ memberService.loggedInMember.firstName }}</li>
              <li class="list-group-item">Last Name : {{ memberService.loggedInMember.lastName }}</li>
              <li class="list-group-item">Gender : {{ memberService.loggedInMember.gender }}</li>
              <li class="list-group-item">Birthdate : {{ getShortBirthdate( memberService.loggedInMember.id )}} <i class="bi bi-calendar-check float-right"></i></li>
              <li class="list-group-item">Password : {{ memberService.loggedInMember.password }}<i class="bi bi-lock-fill float-right"></i></li>
              <li class="list-group-item">Email : <a href="#"> {{ memberService.loggedInMember.email }} </a> <i class="fa fa-envelope float-right"></i></li>
              <li class="list-group-item">Posted Reviews: {{ getReviewsFromMemberCount() }} <i class="bi bi-hand-thumbs-up float-right"></i></li>
          </ul>
        </div>
      </div>

      <div class="modal-footer">
          <button type="button"  class="btn btn-primary btn-info btn-md" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- My Reviews (MODAL) -->
<div class="modal fade" id="myReviewsModal" tabindex="-1" aria-labelledby="myReviewsLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title" id="myReviewsLabel" style="font-weight:bold; color:teal"> 
          {{ this.memberService.loggedInMember.id }}'s Reviews
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body" style=" background-color: darkgray;">

          <div class="member-entry" *ngFor="let review of reviewsFromMember" > 
              <div class="search-result-item-body">
                  <div class="row">
                      <div class="col-sm-9">
                          <h4 class="search-result-item-heading" > Restaurant: {{ getRestaurantName(review.restaurantId) }} </h4>
                          <h5 class="search-result-item-heading" > Location: {{ getRestaurantLocation(review.restaurantId) }} </h5>
                          <h5 class="search-result-item-heading" style="margin-top:5px" > Posted on: {{ review.rvDate | slice:0:24 }} </h5>
                          <p class="info" style="margin-top:5px"> "{{review.comment}}" </p>
                          <p>
                              <span style="margin:2px" *ngFor="let star of countArray(review.score)">
                                  <img src="/assets/img/star-fill.svg">
                              </span>
                          </p>
                      </div>
                      <div class="col-sm-3 text-align-center" style="min-width:120px; padding-left: 0px; float: left">
                        <!-- <p style="margin-top:15px">
                            <a (click)="onOpenModal(restaurant, 'reviewList')" class="btn btn-primary btn-info btn-sm" style="color:white;" >Edit Review</a>
                        </p> -->
                        <p style="margin-top:15px">
                            <a (click)="setupDeleteReview(review)" class="btn btn-primary btn-info btn-sm" style="color:white;">Delete Review</a>
                        </p>
    
                    </div>
    
                  </div>
              </div>    
          </div>

      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-info btn-md" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Sign Up Acceptance (MODAL) -->
<div class="modal fade" id="signUpAcceptanceModal" tabindex="-1" aria-labelledby="signUpAcceptanceLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title" id="signUpAcceptanceLabel" style="font-weight:bold; color:teal"> Welcome {{ this.memberService.loggedInMember.id }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body" >
        <h6 style="text-align: center;">Thank you for signing up with us. </h6> 
        <h6 style="text-align: center;">You have been automatically logged in. </h6> 
      </div>
      <div class="modal-footer">
        <div class="col-md-1accordion2">
          <button class="btn btn-primary btn-info btn-sm" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>	
      </div>
    </div>
  </div>
</div>

<!--Edit Profile (MODAL)-->
<div id="editProfileModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Edit Profile</h1>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body">
            <form #editProfileForm="ngForm" class="form col-md-12 center-block"  id="editProfileForm"  >
              <div class="form-group">
                <input ngModel="{{memberService.loggedInMember.id}}" type="hidden" class="form-control input-lg"  
                    name="editUsername" id="editUsername"   pattern="[A-Za-z0-9-_]{8,20}" >
              </div>
              <div class="form-group">
                <input ngModel="{{memberService.loggedInMember.password}}" type="hidden" class="form-control input-lg"  
                    name="editPassword" id="editPassword" pattern=".{3,20}"  >
              </div>
              <div class="form-group">
                <input ngModel="{{memberService.loggedInMember.firstName}}" type="text" class="form-control input-lg"  
                   placeholder="First Name" name="editFirstName" id="editFirstName" pattern="[A-Za-z]{1,30}" required>
              </div>
              <div class="form-group">
                <input ngModel="{{memberService.loggedInMember.lastName}}" type="text" class="form-control input-lg"  
                    placeholder="Last Name" name="editLastName" id="editLastName" pattern="[A-Za-z]{1,30}" required>
              </div>
              <div class="form-group">
                <input ngModel="{{memberService.loggedInMember.locCity}}" type="text" class="form-control input-lg"  
                    placeholder="City" name="editLocCity" id="editLocCity" pattern="[A-Za-z ]{1,30}" required>
              </div>
              <div class="form-group">
                <input ngModel="{{memberService.loggedInMember.locState}}" type="text" class="form-control input-lg"  
                    placeholder="State (2 letter format)" name="editLocState" id="editLocState" pattern="[A-Za-z]{2}" required>
              </div>
              <div class="form-group">
                <input ngModel="{{memberService.loggedInMember.locZipCode}}" type="text" class="form-control input-lg"  
                    placeholder="Zip Code (5 digit format)" name="editLocZipCode" id="editLocZipCode" pattern="[0-9]{5}" required>
              </div>
              <div class="form-group">
                <input ngModel="{{memberService.loggedInMember.email}}" type="text" class="form-control input-lg"  
                    placeholder="Email Address" name="editEmail" id="editEmail"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
              </div>
              <div class="form-group">
                <label for="editBirthDate"> Date of Birth: </label> 
                <input ngModel="{{ getDate(memberService.loggedInMember.birthDate) }}" type="date" class="form-control input-lg"  
                    name="editBirthDate" id="editBirthDate" required>
              </div>
              <div class="form-group">
                  <input style="margin:5px" ngModel type="radio" id="editMaleOption" name="editGender" value="Male" 
                      [checked]="memberService.loggedInMember.gender === 'Male'"  required>
                  <label style="margin-right:10px" for="editMaleOption">  Male </label>
                  <input style="margin:5px" ngModel type="radio" id="editFemaleOption" name="editGender" value="Female" 
                      [checked]="memberService.loggedInMember.gender === 'Female'" required>
                  <label style="margin-right:10px" for="editFemaleOption">  Female </label>
                  <input style="margin:5px" ngModel type="radio" id="editOtherOption" name="editGender" value="Other" 
                      [checked]="memberService.loggedInMember.gender === 'Other'" required>
                  <label style="margin-right:10px" for="editOtherOption">  Other </label>
              </div>

              <div class="form-group">
                <button (click)="onUpdateMember(editProfileForm)" class="btn btn-info btn-lg btn-block" type="submit" >
                    Save Changes
                </button>
              </div>
              <!-- <div *ngIf="editProfileForm.invalid">
                <span style="color:teal">"Save Changes" button will be enabled when all fields have been properly completed.</span>
              </div> -->
            </form>
        </div>
        <div class="modal-footer">
            <div class="col-md-1accordion2">
            <button id="editProfileCloseButton" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>	
        </div>
    </div>
  </div>
</div>

<!-- Terminate Account (MODAL) -->
<div class="modal fade" id="closeAccountModal" tabindex="-1" aria-labelledby="closeAccountLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title" id="closeAccountLabel" style="font-weight:bold; color:teal"> Terminate {{ this.memberService.loggedInMember.id }}'s Account</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body" >
        <h6 style="text-align: center;">Are you sure you want to terminate your account?. </h6> 
      </div>
      <div class="modal-footer">
        <div class="col-md-1accordion2">
          <button (click)="onDeleteMember()" class="btn btn-primary btn-info btn-md" data-dismiss="modal" aria-hidden="true">Terminate</button>
        </div>	
        <div class="col-md-1accordion2">
          <button id="closeAccountCloseButton" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>	
      </div>
    </div>
  </div>
</div>

<!-- Delete Review (MODAL) -->
<div class="modal fade" id="deleteReviewModal" tabindex="-1" aria-labelledby="deleteReviewLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content" >
      <div class="modal-header">
        <h4 class="modal-title" id="deleteReviewLabel" style="font-weight:bold; color:teal"> Delete Review</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body" >
        <h6 style="text-align: center;">Are you sure you want to delete this review?. </h6> 
      </div>
      <div class="modal-footer">
        <div class="col-md-1accordion2">
          <button (click)="onDeleteReview()" class="btn btn-primary btn-info btn-md" data-dismiss="modal" aria-hidden="true">Delete</button>
        </div>	
        <div class="col-md-1accordion2">
          <button id="deleteReviewCloseButton" class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>	
      </div>
    </div>
  </div>
</div>

