<div class="row bootstrap snippets bootdeys" style="justify-content: center"> 
    <h2 style="text-align: center; margin: 2rem" >Our Active Members</h2> 
</div>

<div class="container" id="memberListContainer" style="margin:1px" style="display: flex; justify-content: center">

    <div class="row" style="display: flex; justify-content: center" >

        <!-- Member Entry -->
        <div *ngFor="let member of memberService.memberSearchResults">    
            <div class="card m-b-30" style="width: 25rem; margin:2rem;" 
               *ngIf="member.id != memberService.loggedInMember.id && member.id != 'Guest'">
                <div class="card-body row">
                    <div class="col-6" *ngIf="member.gender == 'Female'">
                        <a  href=""><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6" *ngIf="member.gender == 'Male'">
                        <a  href=""><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6" *ngIf="member.gender == 'Other'">
                        <a  href=""><img src="/assets/img/anonymous_user_grey.png" width="350" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>

                    <div class="col-6 card-title align-self-center mb-0">
                        <h5 style="font-weight: bold;"> {{ member.id }}</h5>
                        <p class="m-0" style="color:grey"> {{ getMemberLocation(member.id) }}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Gender : {{ member.gender }}</li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#"> {{ member.email }}</a></li>
                    <li class="list-group-item"><i class="bi bi-calendar-check float-right"></i>Birthdate : {{ getShortBirthdate( member.id )  }}</li>
                    <li class="list-group-item">Reviews posted : {{ countReviesFromMember(member) }} </li> 
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                          <a (click)="onOpenModal(member, 'reviewList')" class="btn btn-primary btn-info btn-sm" style="color:white;">Watch User's Reviews</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<!-- Modal to List all reviews from one specific member -->
<div class="modal fade" id="reviewsFromMemberModal" tabindex="-1" aria-labelledby="reviewsFromMemberLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="reviewsFromMemberLabel" style="font-weight:bold; color:teal"> {{ memberOfInterest.id }} Reviews</h4>
          <!-- <p>  ( {{ getReviewsFromMemberCount(memberOfInterest) }} posts )</p> -->
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
            <span aria-hidden="true">&times;</span>
        </div>
        <div class="modal-body" style=" background-color: darkgray;">
          
            <div class="member-entry" *ngFor="let review of reviewsFromMember" > 
                <a href="#" class="member-img" style="width:10rem; height:10rem"> 
                    <img [src]="getRestaurantImageUrl(review.restaurantId)" class="img-rounded" style="height:10rem"> 
                    <i class="fa fa-forward"></i> 
                </a> 
        
                <div class="search-result-item-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <h4 class="search-result-item-heading" > Restaurant: {{ getRestaurantName(review.restaurantId) }} </h4>
                            <h5 class="search-result-item-heading" > Location: {{ getRestaurantLocation(review.restaurantId) }} </h5>
                            <h5 class="search-result-item-heading" style="margin-top:5px" > Posted on: {{ review.rvDate | slice:0:24 }} </h5>
                            <p class="info" style="margin-top:5px"> "{{review.comment}}" </p>
                            <p>
                                <span style="margin:2px" *ngFor="let star of countArray(review.score)">
                                    <img src="/assets/img/star-fill.svg">
                                </span>
                            </p>
                        </div>
                    </div>
                </div>    
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" id="add-employee-form" class="btn btn-primary btn-info btn-md" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
