
<div class="container rounded" id="restaurantListContainer" style="padding-top: 1rem; padding-bottom: 1rem; background-color: lightgray; width:90%; max-width: 768px; min-width: 620px ; justify-content: center" >
    <!-- Restaurant Entry -->
    <div class="member-entry rounded"  *ngFor="let restaurant of restaurantService.restaurantSearchResults " > 
    
        <div class="col-sm-3" style="width:11rem;"  >
            <a href="#" (click)="setRestaurantOfInterest(restaurant)" class="member-img" style="width:10rem; height:10rem; " 
                data-toggle='modal' data-target="#restaurantProfileModal"> 
                <img [src]="restaurant.imageUrl"  class="img-rounded" style="height:13rem; margin-top:9%;">
                <i class="fa fa-forward"></i> 
            </a> 
        </div>
        <div class="search-result-item-body" style="padding-left:20px">
            <div class="row">
                <div class="col-sm-9" style="max-width: 275px;">
                    <h4 class="search-result-item-heading" style="font-weight: bold"> 
                        <a href="#" (click)="setRestaurantOfInterest(restaurant)"  data-toggle='modal' data-target="#restaurantProfileModal">
                            {{restaurant.name}} 
                        </a>
                    </h4>
                    <p class="info"> {{restaurant.locCity}}, {{restaurant.locState}} {{restaurant.locZipCode}} </p>
                    <p class="info"> Cuisine: {{restaurant.foodType}} </p>
                    <p class="info"> Ambiance: {{restaurant.ambiance}} </p>
                </div>
                <div class="col-sm-3 text-align-center" style="min-width:120px; padding-left: 0px; float: left">
                    <p style="margin:0px; padding:0px; font-size: small;" > Price </p>
                    <p>
                        <span  *ngFor="let coin of countArray(restaurant.priceLevel)"  style="margin:2px">
                           <img src="/assets/img/currency_dollar_green.png" height="22" width="22"> 
                        </span>
                        <span  *ngFor="let coin of countArray( 3 - restaurant.priceLevel)"  style="margin:2px">
                            <img src="/assets/img/currency_dollar_shade.png" height="22" width="22"> 
                         </span>
                    </p>
                    <p style="margin:0px; padding:0px; font-size: small;" > Rating </p>
                    <p>
                        <span  *ngFor="let yellowStar of countArray( getAvgScore(restaurant.id))"  style="margin:2px" >
                            <img src="/assets/img/star-fill.svg">
                        </span>
                        <span  *ngFor="let grayStar of countArray( 5 - getAvgScore(restaurant.id))"  style="margin:2px" >
                            <img src="/assets/img/star-fill-shade.svg">
                        </span>
                    </p>
                    <p style="margin-top:15px">
                        <a (click)="onOpenModal(restaurant, 'reviewList')" class="btn btn-primary btn-info btn-sm rounded-pill" style="color:white;" >Reviews</a>
                    </p>
                    <p style="margin-top:15px">
                        <a (click)="onOpenModal(restaurant, 'addReview')" class="btn btn-primary btn-info btn-sm rounded-pill" style="color:white;">Add Review</a>
                    </p>

                </div>
            </div>
        </div>    
    </div>
</div>

<!-- Modal to List all reviews for one specific restaurant -->
<div class="modal fade" id="reviewsOnRestaurantOfInterestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"  style="font-weight:bold; color:teal"> {{ restaurantOfInterest.name }}'s Reviews</h4>
          <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close"></button>
            <span aria-hidden="true">&times;</span>
        </div>

        <div class="modal-body" style=" background-color: darkgray;">
            <div *ngIf="!reviewsOnRestaurantOfInterest.length">
                <p style="color: black">This restaurant has not been reviewed by any member yet.</p>
            </div>
            <div class="member-entry" *ngFor="let review of reviewsOnRestaurantOfInterest" > 
                <a href="#" (click)="setMemberOfInterest(review.memberId)" class="member-img" style="width:10rem; height:10rem"
                    data-toggle="modal" data-target="#memberProfileModal"> 

                    <div  *ngIf="getMemberGender(review.memberId) === 'Female'" >
                        <img src="https://bootdey.com/img/Content/avatar/avatar8.png" >
                    </div>
                    <div  *ngIf="getMemberGender(review.memberId) === 'Male'" >
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" >
                    </div>
                    <div  *ngIf="getMemberGender(review.memberId) === 'Other'">
                        <img src="/assets/img/anonymous_user_grey.png"   width="150%" alt="" >
                    </div>

                </a> 
        
                <div class="search-result-item-body">
                    <div class="row">
                        <div class="col-sm-9">
                            <h4 class="search-result-item-heading">
                                <a href="#" (click)="setMemberOfInterest(review.memberId)" data-toggle='modal' data-target="#memberProfileModal">
                                    {{review.memberId}} 
                                </a>
                            </h4>
                            <p class="info"> {{ getMemberLocation(review.memberId) }} </p>
                            <p class="info"> Posted on: {{ review.rvDate | slice:0:24 }} </p>
                            <p class="info"> "{{ review.comment }}" </p>
                            <p>
                                <span style="margin:2px" *ngFor="let star of countArray(review.score)">
                                    <img src="/assets/img/star-fill.svg">
                                </span>
                            </p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" id="add-employee-form" class="btn btn-primary btn-info btn-md rounded-pill" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
    

<!-- Add review (Modal) for a specific restaurant  -->
<div id="addReviewModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="text-center">Add Review on {{ restaurantOfInterest.name }}</h3>
            <button  type="button" class="close rounded-pill" data-dismiss="modal" aria-hidden="true">×</button>
  
        </div>
        <div class="modal-body">
            <form class="form col-md-12 center-block" #addReviewForm="ngForm" id="addReviewForm"  >
              <div class="form-group">
                <textarea  rows="4"  class="form-control input-lg" ngModel name="comment" id="comment"
                    placeholder="Your comment" required>
                </textarea>
              </div>
              <div>
                  <h6> How would you grade your overall experience:</h6>
              </div>
              <div class="form-group" style="margin-left: 10rem">
                <input ngModel type="radio" id="oneStar" name="grade" value="1" required>
                <label for="oneStar"> <span style="margin:5px"></span>
                    <span style="margin:2px" *ngFor="let star of countArray(1)">
                        <img src="/assets/img/star-fill.svg">
                    </span>
                </label><br>
                <input ngModel type="radio" id="twoStar" name="grade" value="2" required>
                <label for="twoStar"> <span style="margin:5px"></span>
                    <span style="margin:2px" *ngFor="let star of countArray(2)">
                        <img src="/assets/img/star-fill.svg">
                    </span>
                </label><br>
                <input ngModel type="radio" id="threeStar" name="grade" value="3" required>
                <label for="threeStar"> <span style="margin:5px"></span>
                    <span style="margin:2px" *ngFor="let star of countArray(3)">
                        <img src="/assets/img/star-fill.svg">
                    </span>
                </label><br>
                <input ngModel type="radio" id="fourStar" name="grade" value="4" required>
                <label for="fourStar"> <span style="margin:5px"></span>
                    <span style="margin:2px" *ngFor="let star of countArray(4)">
                        <img src="/assets/img/star-fill.svg">
                    </span>
                </label><br>
                <input ngModel type="radio" id="fiveStar" name="grade" value="5" required>
                <label for="fiveStar"> <span style="margin:5px"></span>
                    <span style="margin:2px" *ngFor="let star of countArray(5)">
                        <img src="/assets/img/star-fill.svg">
                    </span>
                </label><br>
              </div>
              <div class="form-group">
                <button (click)="onAddReview(addReviewForm)" data-dismiss="modal" class="btn btn-info btn-lg btn-block rounded-pill" 
                    type="submit" [disabled]="addReviewForm.invalid" >Submit Review</button>
              </div>
              <div *ngIf="addReviewForm.invalid">
                <span style="color:teal">Submit Review button will be enabled when form fields have been properly completed.</span>
              </div>

            </form>
        </div>
        <div class="modal-footer">
            <div class="col-md-1accordion2" style="margin-top: 5px">
                <button id="addReviewCloseButton" class="btn btn-secondary rounded-pill" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>	
        </div>
    </div>
  </div>
</div>

<!-- Denial to Add Review as Guest User  -->
<div id="addReviewDeniedModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="text-center">Become a Member</h1>
              <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>
          <div class="modal-body">
              <h6>As a Guest User you are not allowed to add reviews. </h6> 
              <h6>We would love to know your opinion on restaurants.</h6> 
              <div>
                <span style="display: inline-block;">
                  <button class="btn btn-primary btn-info btn-sm rounded-pill" style="margin-bottom: 12px; margin-top:6px; margin-right:15px; color:white" 
                      (click)="this.appComponent.onOpenModal('logIn')">Log In
                  </button>
                </span > 
                <span style="display: inline-block;">
                  <h6 >if you are an Active Member</h6> 
                </span>
             </div>

              <div>
                  <span style="display: inline-block;">
                    <button class="btn btn-primary btn-info btn-sm rounded-pill" style="margin-bottom: 12px; margin-top:6px; margin-right:15px; color:white" 
                        (click)="this.appComponent.onOpenModal('signUp')">Sign Up
                    </button>
                  </span > 
                  <span style="display: inline-block;">
                    <h6 >to become a Member and share experiences.</h6> 
                  </span>
               </div>
          </div>
          <div class="modal-footer">
              <div class="col-md-1accordion2">
                <button class="btn btn-secondary rounded-pill" data-dismiss="modal" aria-hidden="true">Cancel</button>            
              </div>	
          </div>
      </div>
    </div>
</div>
  

<!-- Member Profile Modal  -->
<div id="memberProfileModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
              <h1 class="text-center">{{ memberOfInterest.id }}</h1>
              <button  type="button" class="close rounded-pill" data-dismiss="modal" aria-hidden="true">×</button>
            </div>

            <div class="modal-body">


                <div class="card m-b-30" style="width: 25rem; margin:2rem;" >
                    <div class="card-body row">
                        <div class="col-6" *ngIf="memberOfInterest.gender == 'Female'">
                            <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" class="img-fluid rounded-circle w-60">
                        </div>
                        <div class="col-6" *ngIf="memberOfInterest.gender == 'Male'">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-fluid rounded-circle w-60">
                        </div>
                        <div class="col-6" *ngIf="memberOfInterest.gender == 'Other'">
                            <img src="/assets/img/anonymous_user_grey.png" width="350" alt="" class="img-fluid rounded-circle w-60">
                        </div>

                        <div class="col-6 card-title align-self-center mb-0">
                            <h5 style="font-weight: bold;"> {{ memberOfInterest.id }}</h5>
                            <p class="m-0" style="color:rgb(131, 126, 126)"> {{ getMemberLocation( memberOfInterest.id ) }}</p>
                        </div>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Gender : {{ memberOfInterest.gender }}</li>
                        <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#"> {{ memberOfInterest.email }}</a></li>
                        <li class="list-group-item"><i class="bi bi-calendar-check float-right"></i>Birthdate : {{ getShortBirthdate( memberOfInterest.id ) }}</li>
                        <li class="list-group-item">Reviews posted : {{ getReviewsFromMemberOfInterestCount() }} </li> 
                    </ul> 
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-info btn-md rounded-pill" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Restaurant Profile Modal  -->
<div id="restaurantProfileModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
              <h1 class="text-center">{{ restaurantOfInterest.name }}</h1>
              <button  type="button" class="close rounded-pill" data-dismiss="modal" aria-hidden="true">×</button>
            </div>

            <div class="modal-body">
                <div class="card-body row">
                    <div class="col-6">
                        <img [src]="restaurantOfInterest.imageUrl" alt="" class="img-fluid  w-60">
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <p class="info" style="font-weight: bold;"> 
                            {{restaurantOfInterest.locCity}}, {{restaurantOfInterest.locState}} {{restaurantOfInterest.locZipCode}}
                        </p>
                        <p class="info"> Phone Number: {{restaurantOfInterest.phoneNumber}} </p>
                        <p class="info"> Email: {{ restaurantOfInterest.email }} </p>
                        <p class="info"> Cuisine: {{restaurantOfInterest.foodType}} </p>
                        <p class="info"> Ambiance: {{restaurantOfInterest.ambiance}} </p>

                    </div>
                </div>
                <div style="padding-left: 3rem; padding-right:3rem;">
                    <p> Desription:</p>
                    <p> {{ restaurantOfInterest.description }}</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-info btn-md rounded-pill" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
